<!DOCTYPE html>
<html lang="en">

<head>
  <title>Homify</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/Homify/src/app/app.component.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>

<body>

  <div class="navbar">
    <div class="menu-container">
      <div class="menu">☰</div>
      <div class="menu-panel">
        <h2 class="menu-title">
          <img src="/homify.png" alt="Menu">
        </h2>
        
        <ul>
          <li><a href="#">Living room</a></li>
          <li><a href="#">Kitchen</a></li>
          <li><a href="#">Bedroom</a></li>
          <li><a href="#">Bathroom</a></li>
          <li><a href="#">Aromas</a></li>
          <li><a href="#">Children</a></li>
        </ul>
      </div>
    </div>
  
    <div class="search-container">
      <i class="bx bx-search search-icon"></i>
      <input class="search" type="text" placeholder="Search">
    </div>


    <div class="links">
      <a href="#"><i class="bx bx-user login-icon"></i>Log In</a>
      <a href="#"><i class="bx bx-help-circle help-icon"></i>Help</a>
    </div>
  </div>


  <script>
    function toggleMenu() {
      const menuPanel = document.getElementById('menuPanel');
      menuPanel.classList.toggle('open');
    }
  </script>
</body>
</html>
